header h1 {
  border-bottom: 1px solid #ccc;
}

form {
  width: 100%;
  height: 250px;
}
.inputs {
  margin-bottom: 1.0em;
}

.inputs input {
    padding: 0.6em 0.8em;
    width: 275px;
}

.btn {
  padding: 1.0em 1.5em;
  border: none;
  background-color: $primary-green;
  color: #FFF;
  cursor: pointer;
  font-weight: bold;
}

@media only screen and (max-width: 670px) {
      .inputs input {  width: 100%; }
      .btn {  width: 100%; }
}
