form {
    width: calc(((100% /12) * 12) - 20px);
    background-color: #fff;
    height: 500px;
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1 {
  text-align: center;
}

.inputs input {
    width: 400px;
    border: 1px solid #ddd;
    padding: 1.0em;
    margin-bottom: 1.0em;
}

.btn {
    padding: 1.0em 1.5em;
    border: none;
    background-color: $primary-green;
    color: #fff;
    cursor: pointer;
}
