* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  line-height: 1.5;
  background-color: #eee;
  font-family: monospace;
}

.container {
    width: 650px;
    margin: 0 auto;
    height: auto;
}

@media only screen and (max-width: 670px) {
        .container { width: 100%; }
        body { padding: 0 1.5em; }
}
