* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  line-height: 1.5;
  background-color: #fff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container {
    width: 650px;
    margin: 0 auto;
    height: auto;
    min-height: 450px;
}

header .main-header {
  border-bottom: 1px solid #7c7b7b;
  color: #242424;
  margin: 0.6em 0;
}

#msg {
  display: none;
  margin: 1.0em 0;
  padding: 0.4em;
  text-align: center;
  font-weight: bold;
}

.msg-sucess {
  background-color: $primary-green;
  color: #ffffff;
}

.msg-warning {
  background-color: $warning;
  color: #ffffff;
}

#btn-display {
  display: none;
  margin-bottom: 1.0em;
}

#btn-delete-all {
  //display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in 0s;
}

.bookmarks-results-wrap {
  width: 100%;
  height: auto;
}

.bookmarks-results {
   width: 100%;
   height: auto;
   background-color: #ffffff;
   margin-bottom: 1.0em;
   border-top: 1px solid #eeeeee;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.btn-delete {
  color: $warning;
  font-size: 0.88em;
  &:hover {
    text-decoration: none;
  }
}

.btn-link {
  color: $dark-yellow;
  text-decoration: none;
  font-size: 0.85em;
  &:hover {
    text-decoration: underline;
  }
}

.second-header {
  font-size: 1.15em;
}

.left-column {
  width: 80%;
}

.right-column {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-container {
  width: 100%;
  height: auto;
  //min-height: 65px;
  position: relative;
  &::after {
    content: '';
    clear: both;
  }
}

.bold{
  font-weight: bold;
}

.align-center {
  text-align: center;
}

@media only screen and (max-width: 670px) {
        .container { width: 100%; }
        body { padding: 0 1.5em; }
}
